<launch>
    <rosparam
        command="load"
        file="/home/odroid/robozor-zvpp.yaml" />
    <node
        name="pymlab"
        pkg="arom"
        type="ROSpymlabServer.py"
    />
    <node
        name="IR_ui"
        pkg="arom"
        type="irUI.py"
    />    
    <node
        name="pymlab_init"
        pkg="arom"
        type="initPymlab.py"
    />
    <node
        name="aws_collector"
        pkg="arom"
        type="aws_collector.py"
    />
    <node
        name="aws_wu"
        pkg="arom"
        type="aws_weatherunderground.py"
    />
    <node
        name="aws_wc"
        pkg="arom"
        type="aws_weathercloud.py"
    />
    <node
        name="mount"
        pkg="arom"
        type="mount.py"
    />
    <node
        name="lcd_info"
        pkg="arom"
        type="lcdInfo.py"
    />
    <node
        name="camera"
        pkg="arom"
        type="camera_astro_canon.py"
    />
</launch>
