<launch>
    <rosparam
        command="load"
        file="/home/odroid/robozor-zvpp.yaml"
    />
    
    <include
        file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"
        />

    <node
        name="aromWebUI"
        pkg="arom"
        type="runWeb.sh"
        respawn="true"
    />

    <node
        name="pymlab"
        pkg="arom"
        type="pymlab_bridge"
    />
    
</launch>